{% extends 'base.html' %}

{% block head %}
    <title>Адмін панель</title>
{% endblock %}

{% block body %}

    <section class="normal-breadcrumb set-bg"
             data-setbg="{{ url_for('static',filename = 'img/normal-breadcrumb.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Панель адміністратора</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row" id="admin_page">

            <h5 style="color: #fff;">Усі категорії:</h5>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Назва</th>
                    <th>Дії</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            {% if activities[category.id] == False %}
                                <a href="/admin-panel/delete-category/{{ category.id }}">Видалити</a>
                            {% else %}
                                <span style="color:red">Використовується</span>
                            {% endif %}
                            <a href="/admin-panel/update-category/{{ category.id }}">Змінити</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="7"><a href="/admin-panel/add-category">Додати категорію</a></td>
                </tr>
            </table>

            <h5 style="color: #fff;">Усі аніме:</h5>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Назва</th>
                    <th>Оригінальна назва</th>
                    <th>Опис</th>
                    <th>Назва картинки</th>
                    <th>Категорія</th>
                    <th>Дії</th>
                </tr>
                {% for title in titles %}
                    <tr>
                        <td>{{ title.id }}</td>
                        <td>{{ title.name }}</td>
                        <td>{{ title.original_name }}</td>
                        <td>{{ title.description }}</td>
                        <td>{{ title.image_name }}</td>
                        <td>{{ title.category.name }}</td>
                        <td>
                            <a href="/admin-panel/delete-title/{{ title.id }}">Видалити</a>
                            <a href="/admin-panel/update-title/{{ title.id }}">Змінити</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="7"><a href="/admin-panel/add-title">Додати аніме</a></td>
                </tr>
            </table>

            <h5 style="color: #fff;">Усі користувачі:</h5>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Нік</th>
                    <th>Логін</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.login }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h5 style="color: #fff;">Усі коментарі:</h5>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Користувач</th>
                    <th>Аніме</th>
                    <th>Коментар</th>
                    <th>Дата</th>
                    <th>Дії</th>
                </tr>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.user.nickname }}</td>
                        <td>{{ comment.title.name }}</td>
                        <td>{{ comment.comment }}</td>
                        <td>{{ comment.date_of_creating.strftime("%H:%M %d/%m/%Y") }}</td>
                        <td>
                            <a href="/admin-panel/delete-comment/{{ comment.id }}">Видалити</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}