{% extends 'base.html' %}

{% block head %}
    <title>Адмін панель</title>
{% endblock %}

{% block body %}

    <section class="normal-breadcrumb set-bg" data-setbg="{{ url_for('static',filename = 'img/normal-breadcrumb.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Панель адміністратора</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row" id="admin_page">

            <h5 style="color: #fff;">Усі аніме:</h5>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Назва</th>
                    <th>Оригінальна назва</th>
                    <th>Опис</th>
                    <th>Назва картинки</th>
                    <th>Категорія</th>
                    <th>Дії</th>
                </tr>
                {% for title in titles %}
                    <tr>
                        <td>{{title.id}}</td>
                        <td>{{title.name}}</td>
                        <td>{{title.original_name}}</td>
                        <td>{{title.description}}</td>
                        <td>{{title.image_name}}</td>
                        <td>{{title.category.name}}</td>
                        <td>
                            <a href="/admin-panel/delete-title/{{title.id}}">Видалити</a>
                            <a href="/admin-panel/update-title/{{title.id}}">Змінити</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr><td colspan="7"><a href="/admin-panel/add-title">Додати аніме</a></td></tr>
            </table>
            <div class="user col-6">
                <h4>Додати користувача</h4>

                <label for="user-nickname">Нікнейм</label>
                <input type="text" id="user-nickname" name="user-nickname">

                <label for="user-login">Логін</label>
                <input type="text" id="user-login" name="user-login">

                <label for="user-password">Пароль</label>
                <input type="text" id="user-password" name="user-password">

                <button id="add_user">Підтвердити</button>
            </div>

        </div>
    </div>



{% endblock %}