{% extends 'base.html' %}

{% block head %}
    <title>Головна</title>
{% endblock %}

{% block body %}

<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">

            {% for item in carousel_items %}
                <div class="hero__items set-bg"
                     data-setbg="static/img/carousel/{{ item['image'] }}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Пригоди</div>
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.desc }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for section in sections %}
                    <div class="product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>{{ section[0].name }}</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/categories" class="primary-btn">Переглянути всі <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for title in section[1] %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                             data-setbg="static/img/anime-posters/{{ title.image_name }}">
                                            <div class="ep">{{ title.age_restriction }}+</div>
                                            <div class="comment"><i class="fa fa-star"></i>{{ title.star_count }}
                                            </div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>{{ title.status }}</li>
                                                <li>{{ title.type }}</li>
                                            </ul>
                                            <h5><a href="/anime-details/{{ title.id }}">{{ title.name }}</a></h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}