{% extends 'base.html' %}

{% block head %}
    <title>Реєстрація</title>
{% endblock %}

{% block body %}

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg"
             data-setbg="{{ url_for('static',filename = 'img/normal-breadcrumb.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Реєстрація</h2>
                        <p>Вітаємо на Anime.org</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="signup">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-4">
                    <div class="login__form">
                        <h3>Створити акаунт</h3>
                        <form method="post">
                            <div class="input__item">
                                <label>
                                    <input type="text" name="user-nickname" id="user-nickname" placeholder="Нікнейм">
                                </label>
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <label>
                                    <input type="text" name="user-login" id="user-login" placeholder="Логін">
                                </label>
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <label>
                                    <input type="password" name="user-password" id="user-password" placeholder="Пароль">
                                </label>
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Зареєструватися й увійти</button>
                        </form>
                        <h5>Вже маєте обліковий запис? <a href="./login">Увійти</a></h5>
                    </div>
                </div>
                <div class="col-5"></div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->


{% endblock %}